* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}

header {
    background: orange;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: sticky;
    top: 0;/* il faut indiquer ou positionner le sticky objet */
}

h1 {
    text-align: center;
    background-color: #3332;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    height: 100px;
}


nav a {
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: orange;
    font-weight: bold;
    border: 1px solid whitesmoke;
    box-shadow: orange;
    

}

section.main{
    display: flex;
    width: 1200px;
    /* height: 100vh; */
    background-color: green;
    /* flex-grow: 1; */
    /* padding: 1.5rem; */
    /* Sticky footer */
    flex: 1;
}

.main {
    margin: 0 auto;
    background-color: #fff;
    width: 1000px;
    min-height: 100vh;
    /* width: 65.75%;==> equivaut à 1000px */

    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    /* background-color: #3333; */
    width: 100%;
    /* margin-top: 1.5rem; */
    /* Sticky footer */
    flex-shrink: 0;
    text-align: center;
  
   
}

.dolomite_1 {
    background-image: url(../img/dolomite_1.jfif) no-repeat;
    object-position: 50% 50%;
}

footer a {
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: bold;
   color: #fff;


}


.contenu {
    height: 200rem;
    background-color: beige;
    padding: 2rem;
    margin: 1em;

}



/* définition de la largeurs des colonnes en % */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* border: 1px solid #000 */
}



.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


/* coleurs génériques */
.vert {
    background-color: green;
}


.bleu-leger {
    background-color: lightblue;
}

.bleu {
    background-color: rgba(91, 101, 236, 0.356);
}

.orange {
    background-color: orange;
}

/* définition de la largeurs des colonnes en % */

.col-1 {
    width: 8.333333%;
    padding: 4px;
}

.col-2 {
    width: 16.666666%;
    padding: 4px;

}

.col-3 {
    width: 25%;
    padding: 4px;
}

.col-4 {
    /*  */
    width: 33.333333%;
    padding:4px;
}

.col-5 {
    /*  */
    width: 41.666666%;
    padding:4px;
}
.col-6 {
    /*  */
    width: 50%;
    padding:4px;
}

.col-7 {
    /*  */
    width: 58.333333%;
    padding:4px;
}

.col-8 {
    /*  */
    width: 66.666666%;
    padding:4px;
}

.col-9 {
    /*  */
    width: 75%;
    padding:4px;
}

.col-10 {
    /*  */
    width: 83.333333%;
    padding:4px;
}

.col-11 {
    /*  */
    width: 91.666666%;
    padding:4px;
}

.col-12 {
    /*  */
    width: 100%;
    padding:4px;
}

/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}
.vert {
    background-color: green;
}





/* les médias Queries pour le responsive et les différents écrans */

/* pour les téléphones */

@media (max-width: 320px) {

    body {
        background-color: #fff;
    }
    .main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: yellow;
    }

        /* pour le footer */
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .col-xs-12 {
            width: 100%;

        }
        .colonne-xs {
            /* used to display flex in a column fashion */
            display: flex;
            flex-direction: column;
    
        }
}

/* medias queries pour les petites tablettes et les smartphones grands écrans plus petit */

@media (min-width: 321px) and (max-width: 767px) {
    body {
        background: #fff;
    }

    .main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: lightsalmon;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 5px solid #000;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-12 {
        width: 100%;
    }

    /* pour le footer */
    .colonne-sm {
        /* used to display flex in a column fashion */
        display: flex;
        flex-direction: column;

    }

}

/* les tablettes et certains ordinateurs portables */
@media (min-width: 768px) and (max-width: 1096px) {

    body {
        background: #fff;
    }

    .main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: blanchedalmond;
    }

}

/* écrans ordinateurs de bureau */
@media (min-width: 1097px) {
    body {
        background: #fff;
    }

    .main {
        width: 1200px;
        margin: 0 auto;
        border: 1px solid #000;
        background: orange;
    }

}